* {
  box-sizing: border-box;
}

#informationCards {
  border-style: solid;
  border-color: aqua;
  background-color: bisque;
  width: 500px;
  position: absolute;
  left: 50%; /* Add this line to horizontally center the SearchBar */
  bottom: auto;
  transform: translateX(
    -50%
  ); /* Add this line to horizontally center the SearchBar */
}
