* {
  box-sizing: border-box;
}

#searchBar {
  /* border-style: solid;
  border-color: aqua; */
  /* background-color: bisque; */
  width: 600px;
  position: absolute; /* Add this line to use absolute positioning */
  bottom: 0; /* Add this line to position the SearchBar at the bottom */
  left: 50%; /* Add this line to horizontally center the SearchBar */
  transform: translateX(
    -50%
  ); /* Add this line to horizontally center the SearchBar */
  margin-bottom: 40px;
}

.inputBox {
  height: 50px;
  width: 400px;
  font-size: 16px;
}

.searchButton {
  background-color: rgb(53, 53, 53);
  color: white;
  height: 50px;
  width: 120px;
  text-transform: uppercase;
}
