* {
  box-sizing: border-box;
}

.backgroundImage {
  height: 300px;
  width: auto;
}

#topContainer {
  position: relative;
  display: flex;
  /* border-style: solid;
  border-color: rgb(243, 243, 7); */
  border-width: 5px;
  background-color: gray;
  height: 50vh;
}
