* {
  box-sizing: border-box;
}

.backgroundImage {
  height: 300px;
  width: auto;
}

#topContainer {
  position: relative;
  display: flex;
  /* border-style: solid;
  border-color: rgb(243, 243, 7);
  border-width: 5px; */
  background-color: gray;
  height: 46vh;
  background-image: url("../assets/logos/background_images/gray_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
